.site-branding--bg-gray {
  background-color: #f3f4f9;
}

#layout-builder-modal input {
  min-width: 25px;
}

.text-content {
  line-height: 1.6875rem;
}

@media (min-width: 62.5rem) {
  .layout--pass--content-medium > * {
    grid-column: 2 / 14;
  }
}

h2.block__title {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #525555;
}

.views-row {
  margin-bottom: 20px;
}

@media (min-width: 43.75rem) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.75rem;
    margin-bottom: .5rem;
  }
}

@media (min-width: 43.75rem) {
  .text-content p,
  .cke_editable p {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 43.75rem) {
  h1 {
    font-size: 3.0rem;
    line-height: 3.25rem;
  }
}
