.site-branding--bg-gray {
  background-color: #f3f4f9;
}

#layout-builder-modal input {
  min-width: 25px;
}

.text-content {
  line-height: 1.6875rem;
}

@media (min-width: 62.5rem) {
  .layout--pass--content-medium > * {
    grid-column: 2 / 14;
  }
}

h2.block__title {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #525555;
}
