.site-branding--bg-gray {
  background-color: #f3f4f9;
}

#layout-builder-modal input {
  min-width: 25px;
}

.text-content {
  line-height: 1.6875rem;
}

@media (min-width: 62.5rem) {
  .layout--pass--content-medium > * {
    grid-column: 2 / 14;
  }
}

h2.block__title {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #525555;
}

.views-row {
  margin-bottom: 20px;
}

@media (min-width: 43.75rem) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.75rem;
    margin-bottom: .5rem;
  }
}

@media (min-width: 43.75rem) {
  .text-content p,
  .cke_editable p {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 43.75rem) {
  h1 {
    font-size: 3.0rem;
    line-height: 3.25rem;
  }
}

.block-inline-blockcomponent-banner h2 {
  margin-bottom: .5rem;
}

.block-inline-blockcomponent-banner .field--name-field-banner-subheading {
  margin-bottom: .5rem;
}

.block-inline-blockcomponent-button .btn {
  border: 0;
  border-radius: 0.25rem;
  background: #1a5294;
  color: white;
  font-family: -system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.35rem 0.65rem;
  margin: 0.25rem;
  cursor: pointer;
}

.block-inline-blockcomponent-button .btn:hover {
  background: #2375d3;
}